<launch>
  <!-- 1) Gazebo obstacles1.world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mppi_control)/worlds/obstacles1.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- 2) Starting UR5e  -->
  <include file="$(find ur_gazebo)/launch/ur5e_bringup.launch">
    <arg name="robot_name" value="ur5e"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gazebo_model_path" value="$(find mppi_control)/worlds"/>
    <arg name="use_gazebo" value="false"/> 
  </include>

  <!-- 3) Start MPPI Controller -->
  <node pkg="mppi_control" type="mppi_ur5e_controller.py" name="mppi_controller" output="screen"/>
</launch>